.smart-chat-bubble-container {
  background-color: #3F51B5;
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  z-index: 999999999999999999999;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bubble-container {
  position: relative;
}

.bubble-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
  cursor: pointer;
}

.smart-chat-bubble-mini {
  width: 400px;
  height: calc(98vh - 20px);
}

.smart-chat-bubble-full {
  width: 98vw;
  height: calc(98vh - 20px);
}

.smart-chat-bubble {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #F5F5F5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.smart-chat-bubble-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px;
  background-color: #3F51B5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.smart-chat-bubble-header p {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: snow;
}

.smart-chat-body {
  padding: 10px
}

.bot-message {
  display: flex;
  margin-bottom: 20px;
}

.user-message {
  display: flex;
  margin-bottom: 20px;
}

.message-space-mini {
  width: 30%;
}

.message-space-full {
  width: 80%;
}

.message-body-mini {
  width: 70%;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
}

.message-body-full {
  width: 20%;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
}

.message-body-bot {
  background-color: #424242;
  color: snow;
}

.message-body-user {
  background-color: #2E7D32;
  color: snow;
}

.smart-chat-form {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.smart-chat-container {
  position: relative;
}

.smart-chat-form-container {
  padding: 20px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
}

.smart-chat-message-input {
  width: 100%;
  border: 0;
  box-shadow: none;
  border-radius: 2px;
  padding: 15px;
}

.smart-chat-submit-button {
  border: 0;
  box-shadow: none;
  background-color: #3F51B5;
  padding: 12px;
  text-transform: uppercase;
  margin-top: 15px;
  align-self: center;
  color: snow;
  border-radius: 4px;
  cursor: pointer;
}

.smart-chat-header-icon {
  margin-right: 10px;
  color: snow;
  font-size: 25px;
  cursor: pointer;
}

.smart-chat-name-header-icon {
  margin-right: 10px;
  font-size: 18px;
  color: snow;
}

.smart-chat-send-icon {
  margin-right: 10px;
  color: snow;
}

.header-bot-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-bubble-icon {
  color: white;
  font-size: 25px;
}

.chat-form-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.smart-chat-attach-icon {
  color: snow;
  font-size: 25px;
}

.chat-form-attach {
  background-color: #3F51B5;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-top: 10px;
  cursor: pointer;
}

.loader {
  height: 22px;
  aspect-ratio: 2.5;
  --_g: no-repeat radial-gradient(farthest-side,#3F51B5 90%,#0000);
  background:var(--_g), var(--_g), var(--_g), var(--_g);
  background-size: 20% 50%;
  animation: l43 1s infinite linear;
  margin-bottom: 10px;
  color: #3F51B5 !important;
}

.smart-chat-file-input {
  display: none;
}

.smart-chat-form-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.current-file-chip {
  border: 1px solid #3F51B5;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-bottom: 10px;
  color: #3F51B5;
}

@keyframes l43 {
  0%     {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  16.67% {background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  33.33% {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 0   ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  50%    {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 100%,calc(2*100%/3) 0   ,calc(3*100%/3) 50% }
  66.67% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 100%,calc(3*100%/3) 0   }
  83.33% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 100%}
  100%   {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
}
